<form method="post" id="deleteForm" action="{{ path('consult.delete', {'id': consult.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input name="_method" type="hidden" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consult.id) }}">
</form>
