{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    {{form_start(form, {attr: {id: 'form'}})}}
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="{{form.descripcion.vars.id}}">Descripción</label>
                {{form_widget(form.descripcion,{attr:{
                    class:'form-control', placeholder:'Descripcion',  rows:"11"}})}}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="{{form.paciente.vars.id}}">Paciente</label>
                {{form_widget(form.paciente,{attr:{class:'form-control'}})}}
            </div>
            <div class="form-group">
                <label>Fecha</label>
                {% for selectGroup in form.recordatorio.children %}
                    <div class="form-row">
                        {% for select in selectGroup.children %}
                            <div class="form-group col">
                                {{ form_widget(
                            select, { attr: { 
                                class: 'form-control', type: 'text',
                                placeholder: 'Ingrese nombre', id: select.vars.id, required: true
                            }}
                                ) }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>Duracion</label>
                <div class="form-row">
                    {% for select in form.duracion.children %}
                        <div class="form-group col">
                            {{ form_widget(
                                select, { attr: {
                                    class: 'form-control', type: 'text',
                                    placeholder: 'Ingrese nombre', id: select.vars.id, required: true
                                }}
                            ) }}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    {{form_end(form)}}

    {{ include('consult/delete.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                $("#form").submit();
            });
        });
    </script>
{% endblock %}
