{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="table-responsive col-md-7">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Duracion</th>
                        <th>Final</th>
                        <th>Paciente</th>
                        <th>Descripcion</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consult in consults %}
                        <tr id="{{consult.id}}">
                            <td>{{ consult.recordatorio|date('H:i') }}</td>
                            <td>{{ consult.duracion|date('H:i') }}</td>
                            <td>{{ consult.fin|date('H:i') }}</td>
                            <td>{{ consult.nombrePaciente }}</td>
                            <td>{{ consult.descripcion }}</td>
                            <td>
                                <a href="{{ path('consult.show', {'id': consult.id}) }}" class="btn btn-primary btn-sm">
                                    <i class="far fa-eye"></i>
                                </a>
                                <a href="{{ path('consult.edit', {'id': consult.id}) }}" class="btn btn-secondary btn-sm">
                                    <i class="far fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no se encontraron registros</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col" id='calendar-container'>
            {{ include('calendar/calendar.html.twig', {'events': consults, 'aspectRatio': 0.9}) }}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .table td,
        .table th {
            line-height: 100%;
            vertical-align: middle;
        }

        tr.consult td {
            position: relative;
        }
    </style>
{% endblock %}
