{% extends 'base.html.twig' %}

{% block title %}
    {{consult.paciente}}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="form-group">
                <h2>Descripción</h2>
                {{consult.descripcion}}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <h2>Paciente</h2>
                {{consult.paciente}}
            </div>
            <div class="form-group">
                <h2>Fecha</h2>
                {{consult.recordatorio}}
            </div>
            <div class="form-group">
                <h2>Duracion</h2>
                {{consult.duracion}}
            </div>
        </div>
    </div>

    {{ include('consult/delete.html.twig') }}
{% endblock %}
