<div id='calendar'></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'es',
            timeZone: 'UTC',
            plugins: [
                'interaction', 'dayGrid', 'timeGrid'
            ],
            defaultView: 'dayGridMonth',
            defaultDate: new Date,
            header: {
                left: '',
                center: 'prev,title,next',
                right: ''
            }
        });
        calendar.render();
        //
        {% if height is defined %}calendar.setOption('height', {{ height }});{% endif %}
        //
        {% if aspectRatio is defined %}calendar.setOption('aspectRatio', {{ aspectRatio }});{% endif %}
        //
        events = {{ events | json_encode() | raw }};
        events.map(event => {
            event.title = event.descripcion
            if (event.recordatorio.date) {
                start = new Date(event.recordatorio.date)
            } else {
                start = new Date(event.recordatorio)
            }
            if (event.fin) {
                end = new Date(event.fin)
            } else {
                end = start
            }
            event.start = start.toISOString()
            event.end = end.toISOString()
            switch (event.calendario) {
                case 'todo':
                    event.backgroundColor = 'red'
                    event.borderColor = 'red'
                    event.textColor = 'white'
                    break;

                case 'citas':
                    event.backgroundColor = 'yellow'
                    event.borderColor = 'yellow'
                    event.textColor = 'black'
                    break;

                case 'nl':
                    event.backgroundColor = 'black'
                    event.borderColor = 'black'
                    event.textColor = 'white'
                    break;

                default:
                    break;
            }
            delete event.id;
            delete event.done;
            delete event.descripcion;
            delete event.recordatorio;
            delete event.fin;
            return event
        });
        console.log(events)
        calendar.addEventSource(events)
    });
</script>

<style>
    .fc-center {}

    .fc-center > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .fc-center > div > * {
        display: flex;
        margin: auto 10px;
        vertical-align: middle;
    }
</style>
