{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block actions %}{% endblock %}

{% block body %}
    {{ include('calendar/calendar.html.twig', {'events': events}) }}
{% endblock %}
