{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    {{form_start(form, {attr: {id: 'form'}})}}
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="{{form.descripcion.vars.id}}">Descripción</label>
                {{form_widget(form.descripcion,{attr:{
                    class:'form-control', placeholder:'Descripcion',  rows:"5", style: 'height: 123px'
                }})}}
            </div>
        </div>
        <div class="col">
            <div class="form-row">
                <div class="form-group col">
                    <label for="{{form.categoria.vars.id}}">Categoria</label>
                    {{form_widget(form.categoria,{attr:{class:'form-control'}})}}
                </div>
                <div class="form-group col">
                    <label for="{{form.cantidad.vars.id}}">Cantidad</label>
                    {{form_widget(form.cantidad,{attr:{class:'form-control', placeholder: 'Cantidad'}})}}
                </div>
                <div class="form-group col">
                    <label for="{{form.monto.vars.id}}">Monto</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        {{form_widget(form.monto,{attr:{
                            class:'form-control', placeholder: '0.00', step:".01", min: '0'
                            }})}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Fecha</label>
                <div class="form-row">
                    {% for selectGroup in form.fecha.children %}
                        {% for select in selectGroup.children %}
                            <div class="col">
                                {{ form_widget(
                            select, { attr: { 
                                class: 'form-control', type: 'text',
                                placeholder: 'Ingrese nombre', id: select.vars.id, required: true
                            }}
                                ) }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{form_end(form)}}

    {% if app.request.get('_route') matches '*new*' %}
    {% else %}
        {{ include('expense/delete.html.twig') }}
    {% endif %}
{% endblock %}
