{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    {{form_start(form, {attr: {id: 'form'}})}}
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="{{form.name.vars.id}}">Descripción</label>
                {{form_widget(form.name,{attr:{
                    class:'form-control', placeholder:'Nombre'
                }})}}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="{{form.type.vars.id}}">Tipo</label>
                {{form_widget(form.type,{attr:{class:'form-control'}})}}
            </div>
        </div>
    </div>
    {{form_end(form)}}
{% endblock %}
