{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
    <span class="{{total > 0 ? 'Ingreso' : 'Gasto'}}">${{total|abs}}</span>
{% endblock %}

{% block actions %}
    <button class="btn btn-sm btn-outline-secondary" onclick="action('{{ path('expense.newCategory')}}')" type="button">Nueva Categoría</button>
    <button class="btn btn-sm btn-outline-primary" onclick="action('{{ path('expense.newExpense', {'category': category})}}')" type="button">Nuevo Gasto</button>
{% endblock %}


{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Monto</th>
                <th>Subtotal</th>
                <th>Categoria</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr id="{{expense.id}}" class="{{expense.type}}">
                    <td>{{ expense.type }}</td>
                    <td>{{ expense.fecha }}</td>
                    <td>{{ expense.descripcion }}</td>
                    <td>{{ expense.cantidad }}</td>
                    <td class="money">
                        <span>$</span>
                        <span>{{ expense.monto|number_format(2, '.', ',') }}</span>
                    </td>
                    <td class="money">
                        <span>$</span>
                        <span>{{ (expense.cantidad * expense.monto)|number_format(2, '.', ',') }}</span>
                    </td>
                    <td>{{ expense.nombreCategoria }}</td>
                    <td>
                        <a href="{{ path('expense.show', {'category': expense.nombreCategoria, 'id': expense.id}) }}" class="btn btn-primary btn-sm">
                            <i class="far fa-eye"></i>
                        </a>
                        <a href="{{ path('expense.editExpense', {'category': expense.nombreCategoria, 'id': expense.id}) }}" class="btn btn-secondary btn-sm">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no se encontraron registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    <style>
        .table td,
        .table th {
            line-height: 100%;
            vertical-align: middle;
        }

        tr.expense td {
            position: relative;
        }
        .Ingreso {
            color: green;
        }
        .Gasto {
            color: red;
        }
        .money {
            text-align:right;
        }
    </style>
{% endblock %}
