{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="form-group">
                <h2>Descripción</h2>
                {{expense.descripcion}}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <h2>Categoria</h2>
                {{expense.nombreCategoria}}
            </div>
            <div class="form-group">
                <h2>Cantidad</h2>
                {{expense.cantidad}}
            </div>
            <div class="form-group">
                <h2>Tipo</h2>
                {{expense.type}}
            </div>
        </div>
    </div>

    {{ include('expense/delete.html.twig') }}
{% endblock %}
