<form method="post" id="deleteForm" action="{{ path('todo.delete', {'id': todo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input name="_method" type="hidden" value="DELETE">
    <input
    type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo.id) }}">
</form>
