<form method="post" action="{{ path('todo.done', {'id': todo.id}) }}">
    <input name="_method" type="hidden" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('done' ~ todo.id) }}">
    <input type="hidden" name="Done" value="{{todo.Done ? '0' : '1'}}">
    <button class="btn btn-sm">
        <i id="check_{{todo.id}}" class="fas fa-check" style="{{todo.Done ? '' : 'visibility: hidden'}}"></i>
    </button>
</form>
