{{form_start(form, {attr: {id: 'form'}})}}
<div class="form-row">
    <div class="col">
        <div class="form-group col">
            <label for="{{ form.descripcion.vars.id }}">Descripción</label>
            {{ form_widget(
            form.descripcion, { attr: { 
                class: 'form-control', type: 'text',  rows:"5", style: 'height: 123px',
                placeholder: 'Ingrese descripción', id: form.descripcion.vars.id, required: true
            }}
            ) }}
        </div>
    </div>

    <div class="col">
        {% for selectGroup in form.recordatorio.children %}

            <label>{{selectGroup.vars.name is same as('date') ? 'Fecha' : 'Hora' }}</label>


            <div class="form-row">
                {% for select in selectGroup.children %}
                    <div class="form-group col">
                        {{ form_widget(
                            select, { attr: { 
                                class: 'form-control', type: 'text',
                                placeholder: 'Ingrese nombre', id: select.vars.id, required: true
                            }}
                        ) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<div style="display:none">{{form_widget(form.done)}}</div>
{{ form_end(form) }}

{% if delete is defined %}
    {% include "todo/_delete_form.html.twig" %}
{% endif %}
