{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="center">
                        <i class="fas fa-check"></i>
                    </th>
                    <th>Descripcion</th>
                    <th>Recordatorio</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr id="{{todo.id}}" class="todo {{todo.Done ? 'done' : ''}}">
                        <td class="center">
                            {{ include('todo/_done_form.html.twig') }}
                        </td>
                        <td>{{ todo.Descripcion }}</td>
                        <td>{{ todo.Recordatorio ? todo.Recordatorio|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('todo.show', {'id': todo.id}) }}" class="btn btn-primary btn-sm">
                                <i class="far fa-eye"></i>
                            </a>
                            <a href="{{ path('todo.edit', {'id': todo.id}) }}" class="btn btn-secondary btn-sm">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no se encontraron registros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <style>
        .table td,
        .table th {
            line-height: 100%;
            vertical-align: middle;
        }
        .table .center {
            text-align: center;
        }

        tr.todo td {
            position: relative;
        }
        tr.todo.done,
        tr.todo.done .fa-check {
            color: #aaa !important;
        }
        tr.todo.done td:before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 0;
            border-bottom: 1px solid #aaa;
            width: 100%;
        }
    </style>
{% endblock %}
