{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todo.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ todo.Descripcion }}</td>
            </tr>
            <tr>
                <th>Recordatorio</th>
                <td>{{ todo.Recordatorio ? todo.Recordatorio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Done</th>
                <td>{{ todo.Done ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('todo/_delete_form.html.twig') }}
{% endblock %}
