{{form_start(form, {attr: {id: 'form'}})}}
<div class="form-row">
    <div class="form-group col">
        <label for="{{ form.nombres.vars.id }}">Nombres</label>
        {{ form_widget(
            form.nombres, { attr: { 
                class: 'form-control', type: 'text', 'aria-describedby': 'nombresHelp',
                placeholder: 'Ingrese nombre', id: form.nombres.vars.id, required: true

            }}
        ) }}
    </div>

    <div class="form-group col">
        <label for="{{ form.apellidos.vars.id }}">Apellidos</label>
        {{ form_widget(
            form.apellidos, { attr: { 
                class: 'form-control', type: 'text', 'aria-describedby': 'apellidosHelp',
                placeholder: 'Ingrese apellidos', id: form.apellidos.vars.id, required: true

            }}
        ) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="{{ form.telefono.vars.id }}">Telefono</label>
        {{ form_widget(
            form.telefono, { attr: { 
                class: 'form-control', type: 'tel', 'aria-describedby': 'telefonoHelp',
                placeholder: 'Ingrese telefono', id: form.telefono.vars.id, required: true

            }}
        ) }}
    </div>

    <div class="form-group col">
        <label for="{{ form.correo.vars.id }}">Correo</label>
        {{ form_widget(
            form.correo, { attr: { 
                class: 'form-control', type: 'email', 'aria-describedby': 'emailHelp',
                placeholder: 'Ingrese correo', id: form.correo.vars.id, required: true

            }}
        ) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col">
        <label for="{{ form.empresa.vars.id }}">Empresa</label>
        {{ form_widget(
            form.empresa, { attr: { 
                class: 'form-control', type: 'text', 'aria-describedby': 'empresaHelp',
                placeholder: 'Ingrese empresa', id: form.empresa.vars.id, required: true
            }}
        ) }}
    </div>

    <div class="form-group col">
        <label for="{{ form.website.vars.id }}">Sitio web</label>
        {{ form_widget(
            form.website, { attr: { 
                class: 'form-control', type: 'url', 'aria-describedby': 'websiteHelp',
                placeholder: 'Ingrese sitio web', id: form.website.vars.id, required: true
            }}
        ) }}
    </div>
</div>
{{ form_end(form) }}

{% if delete is defined %}
    {% include "contact/_delete_form.html.twig" %}
{% endif %}
