{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    {{ include('contact/_form.html.twig', {'button_label': 'Modificar', 'delete':true}) }}
{% endblock %}
