{% extends 'base.html.twig' %}

{% block title %}Contactos
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Website</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.nombres }}</td>
                        <td>{{ contact.apellidos }}</td>
                        <td>{{ contact.telefono }}</td>
                        <td>{{ contact.correo }}</td>
                        <td>{{ contact.empresa }}</td>
                        <td>{{ contact.website }}</td>
                        <td>
                            <a href="{{ path('contact.show', {'id': contact.id}) }}" class="btn btn-primary btn-sm">
                                <i class="far fa-eye"></i>
                            </a>
                            <a href="{{ path('contact.edit', {'id': contact.id}) }}" class="btn btn-secondary btn-sm">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no se encontraron registros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
