{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ contact.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ contact.apellidos }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ contact.telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ contact.correo }}</td>
            </tr>
            <tr>
                <th>Empresa</th>
                <td>{{ contact.empresa }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ contact.website }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
