{% set current_path = app.request.get('_route') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta
        content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <!-- fullCalendar -->
        <link href='https://fullcalendar.io/releases/core/4.1.0/main.min.css' rel='stylesheet'/>
        <link href='https://fullcalendar.io/releases/daygrid/4.1.0/main.min.css' rel='stylesheet'/>
        <link
        href='https://fullcalendar.io/releases/timegrid/4.1.0/main.min.css' rel='stylesheet'/>

        <!-- Bootstrap CSS -->
        <link
        crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

        <!-- FontAwesome -->
        <link
        crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">

        <!-- summernote -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}
        <title>
            Proyecto
        </title>
    </head>

    <body>
        {% include "nav.html.twig" %}
        {% if sidebar is defined %}
            <div class="container-fluid">
                <div class="row">
                    {% include "sidebar.html.twig" %}
                    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
                    {% else %}
                        <div class="container">
                        {% endif %}
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            {% block titlebar %}
                                <h1 class="h2">

                                    {% block title %}Welcome!
                                    {% endblock %}
                                </h1>
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group mr-2">
                                        {% block actions %}
                                            {% if app.request.get('id') is not same as(null) or app.request.get('_route') matches '*new*' %}
                                                {% if app.request.get('_route') matches '*new*' %}
                                                {% else %}
                                                    <button class="btn btn-sm btn-outline-danger" onclick="action('delete')" type="button">Borrar</button>
                                                {% endif %}
                                                <button class="btn btn-sm btn-outline-secondary" onclick="action('cancel')" type="button">Cancelar</button>
                                                {% if app.request.get('_route') matches '*edit*' %}
                                                    <button class="btn btn-sm btn-outline-primary" onclick="action('submit')" type="button">Editar</button>
                                                {% elseif app.request.get('_route') matches '*new*' %}
                                                    <button class="btn btn-sm btn-outline-primary" onclick="action('submit')" type="button">Crear</button>
                                                {% else %}
                                                    <button class="btn btn-sm btn-outline-primary" onclick="action('edit',{{app.request.get('id')}})" type="button">Editar</button>
                                                {% endif %}
                                            {% else %}
                                                <button class="btn btn-sm btn-outline-primary" onclick="action('new')" type="button">Nuevo</button>
                                            {% endif %}
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                        {% block body %}{% endblock %}
                        {% if sidebar is defined %}
                        </div>
                    </main>
                </div>
        {% else %}
            </div>
        {% endif %}


        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- fullCalendar -->
        <script src='https://fullcalendar.io/releases/core/4.1.0/main.min.js'></script>
        <script src='https://fullcalendar.io/releases/interaction/4.1.0/main.min.js'></script>
        <script src='https://fullcalendar.io/releases/daygrid/4.1.0/main.min.js'></script>
        <script src='https://fullcalendar.io/releases/timegrid/4.1.0/main.min.js'></script>
        <script src='https://fullcalendar.io/releases/core/4.1.0/locales/es.js'></script>

        <!-- summernote -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>

        <!-- Optional JavaScript -->
        <script>
            const action = (action, id = null) => {
                pathurl = "{{ current_path }}".split('.')
                switch (action) {
                    case 'new':
                        window.location.href = '/' + pathurl[0] + '/new'
                        break;
                    case 'edit':
                        window.location.href = '/' + pathurl[0] + '/' + id + '/edit'
                        break;
                    case 'submit':
                        $("#form").submit();
                        break;
                    case 'delete':
                        $("#deleteForm").submit();
                        break;
                    case 'cancel':
                        window.location.href = '/' + pathurl[0] + '/'
                        break;
                    default:
                        window.location.href = action
                        break;
                }
            }
        </script>
        {% block javascripts %}{% endblock %}
    </body>

</html>
