{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">Navbar</a>
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ path('contact.index') }}">Contactos</a>
                <a class="nav-item nav-link" href="{{ path('todo.index') }}">ToDo</a>
                <a class="nav-item nav-link" href="{{ path('calendar.index') }}">Calendario</a>
                <a class="nav-item nav-link" href="{{ path('mail.index', {'folder': 'INBOX'}) }}">Correo</a>
                <a class="nav-item nav-link" href="{{ path('consult.index') }}">Consultorio</a>
                <a class="nav-item nav-link" href="{{ path('expense.index') }}">Gastos</a>
            </div>
        </div>
    </nav>
{% endblock %}
