{% block navbar %}
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            {% for section in sidebar %}
                <a href="{{ path(section.path, section.params is defined ? section.params : {}) }}" class="{{section.name is same as(title) ? 'active' : null}}">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>{{section.name}}</span>
                    </h6>
                </a>
                <ul class="nav flex-column mb-2">
                    {% for element in section.elements %}
                        <li class="nav-item">
                            <a class="nav-link {{element.name is same as(title) ? 'active' : null}}" href="{{ path(element.path, element.params is defined ? element.params : {}) }}">
                                <span data-feather="home"></span>
                                {{element.name}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </nav>
{% endblock %}
