<div id="summernote">
    <p>Hello Summernote</p>
</div>

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
{% endblock %}
