{% extends 'base.html.twig' %}

{% block title %}{{folder}}{% endblock %}

{% block body %}
{# <pre>
    {{ dump(mails) }}
</pre> #}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="center">
                    <i class="fas fa-cog"></i>
                </th>
                <th>Subject</th>
                <th class="center">
                    <i class="fas fa-star"></i>
                </th>
                <th>{{folder is not same as('INBOX.Sent') ? 'From' : 'To'}}</th>
                <th>Date</th>
                <th>Size</th>
                <th class="center">
                    <i class="fas fa-flag"></i>
                </th>
                <th class="center">
                    <i class="fas fa-paperclip"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr id="{{mail.index}}" class="{{mail.header.Unseen ? 'unseen' : ''}}"
                onclick="action('{{path('mail.show', {'folder': folder, 'mail': mail.index})}}')">
                <td class="center">
                        <i class="fas fa-cog"></i>
                </td>
                <td>{{mail.header.Subject}}</td>
                <td class="center">
                    <i class="far fa-star"></i>
                    <i class="fas fa-star"></i>
                </td>
                <td>{{folder is not same as('INBOX.Sent') ? mail.header.from[0].personal : mail.header.toaddress}}</td>
                <td>{{mail.header.Date}}</td>
                <td>{{mail.header.Size}}</td>
                <td class="center">
                    <i class="far fa-flag"></i>
                    <i class="fas fa-flag"></i>
                </td>
                <td class="center">
                    <i class="fas fa-paperclip"></i>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no se encontraron registros</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    tr td i.far,
    tr td i.fas {
        display: none;
    }

    tr:hover td i.far {
        display: block;
    }

    tr td:hover i.fas {
        display: block;
    }

    tr td:hover i.far {
        display: none;
    }

    .unseen {
        color: red;
    }
</style>
{% endblock %}