{% extends 'base.html.twig' %}

{% block title %}Nuevo Correo
{% endblock %}

{% block actions %}
    <button class="btn btn-sm btn-outline-primary" id="attach" type="button">Adjuntar</button>
    <button class="btn btn-sm btn-primary" id="send" type="button">Enviar</button>
{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {id: 'form'}}) }}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.sender.vars.id }}">De:</label>
        <div class="col-sm-10">
            {{ form_widget(
                form.sender, { attr: { 
                    class: 'form-control', type: 'text', value: mail.From,
                    placeholder: 'Remitente', id: form.sender.vars.id, required: true
                }}
            ) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.receiver.vars.id }}">Para:</label>
        <div class="col-sm-10">
            {{ form_widget(
                form.receiver, { attr: { 
                    class: 'form-control', type: 'text',
                    placeholder: 'Destinatarios', id: form.receiver.vars.id, required: true
                }}
            ) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.cc.vars.id }}">Cc:</label>
        <div class="col-sm-10">
            {{ form_widget(
                form.cc, { attr: { 
                    class: 'form-control', type: 'text',
                    placeholder: 'Con copia', id: form.cc.vars.id, required: true
                }}
            ) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.cco.vars.id }}">Cco:</label>
        <div class="col-sm-10">
            {{ form_widget(
                form.cco, { attr: { 
                    class: 'form-control', type: 'text',
                    placeholder: 'Con copia oculta', id: form.cco.vars.id, required: true
                }}
            ) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.subject.vars.id }}">Asunto:</label>
        <div class="col-sm-10">
            {{ form_widget(
                form.subject, { attr: { 
                    class: 'form-control', type: 'text',
                    placeholder: 'Ingrese asunto', id: form.subject.vars.id, required: true
                }}
            ) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            {{ form_widget(
            form.body, { attr: { 
                class: 'form-control', type: 'text',  rows:"5", name: 'editordata',
                id: form.body.vars.id, required: true
            }}
            ) }}
        </div>
    </div>
            <div style="display: none">{{ form_widget(
            form.attachment, { attr: { 
                type: 'hidden',
                id: form.body.vars.id, required: false
            }}
            ) }}</div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            console.log({{ mail | json_encode | raw }})
            console.log({{ app.request | json_encode | raw }})
            $('#mail_body').summernote({
                height: 300,
            });
            $("#form").submit(function (event) {
                // event.preventDefault();
                var markupStr = $('#mail_body').summernote('code');
                console.log(markupStr)
            });
            $("#send").click(function () {
                $("#form").submit();
            });
            $("#attach").click(function () {
                $("#mail_attachment").click();
            });
        });
    </script>
{% endblock %}
